terraform.tfvars

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
*.pem

# Binaries / executables
*.exe
*.out
*.bin

# Go build outputs (common names)
bootstrap
web-service-gin
web-service-gin.exe




# Terraform lock file SHOULD be committed
# (so do NOT ignore .terraform.lock.hcl)

 
 #   i g n o r e   d o c k e r   i m a g e   t a r b a l l s 
 
 * . t a r 
 
 . t m p - * 
 
 